@import url("reset.css");


body {
  text-align: center;
  background-image: url(imgs/bgd.png);
  background-color: white;
  font-family: 'proxima-nova', sans-serif;
}

h1 {
  padding: 20px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

div {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

h2.list {
  text-align: center;
  color: black;
  font-size: 20px;
  width: 40%;
  margin: 0 auto;
  font-weight: bold;
}

p.list {
  text-align: center;
  color: black;
  font-size: 15px;
  width: 20%;
  margin: 0 auto;
  padding: 5px;
}

.button {
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(107, 178, 250);
  color: white;
  font-weight: bold;

}


table {
  margin: 0 auto;
  width: 40%;
}

table, th, td {
  border: 1px solid;
}

th {
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 5px;
}

td {
  padding: 5px;

}

#workoutlogform {
    font-size: 15px;
    padding: 5px;
}