@import url("reset.css");


body {
    text-align: center;
    background-image: url(imgs/bgd.png);
    background-color: white;
    font-family: 'proxima-nova', sans-serif;
  }
  
h1 {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

div {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

h2.list {
    text-align: center;
    color: black;
    font-size: 20px;
    width: 40%;
    margin: 0 auto;
    font-weight: bold;
  }

  p.list {
  text-align: center;
  color: black;
  font-size: 15px;
  width: 20%;
  margin: 0 auto;
  padding: 5px;
}


form input[type=submit] {
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-weight: bold;
}

form.add input[type=submit] {
    background-color: yellowgreen;
}

form.remove input[type=submit] {
    background-color: crimson;
}

form.homepage input[type=submit] {
  background-color:  rgb(107, 178, 250);
}



select, input[type=text]  {
  width: 15%;
  font-size: 15px;
  padding: 5px;
}